* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
 }

 body {
   overflow-x: hidden;
 }

 /* Utility Classes */
 .border-left {
    background-color: #2CAEB8;
    height: 2px;
    width: 64px;
    margin: 15px 15px 80px 0;
 }

 .btn {
  background-color: #2CAEB8;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  width: fit-content;
  padding: 20px 45px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 55px;
}

.btn:hover {
  text-decoration: none;
  background-color: #1a7d85;
  color: #ffffff;
}

.inner-div {
  display: flex;
}

.inner-div h5 {
  padding:3px 0 0 10px;
  font-weight: bold;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 0.2em;
  color: #2CAEB8;
}

img:hover {
  opacity: .7;
}

 /* Custon fonts */
h1, h2, h3, h4, h6 {
  font-family: 'Playfair Display', serif;
}

h5, a, p, label, ::placeholder {
  font-family: 'Airbnb Cereal App', sans-serif;
}

.logo-and {
  color: #2CAEB8;
}

/* Styling the navabr */
.navbar {
  height: 100px;
  background-color: #ffffff;
}

.navbar-brand {
  color: #333333;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.4em;
}

.navbar-nav li a {
  font-size: 16px;
  line-height: 21px;
  color: #666666;
  font-weight: 500;
  padding: 0 25px 10px 25px !important;
  text-align: center;
}

.navbar-nav .active {
  border-bottom: 2px solid #2CAEB8;
}

.navbar-nav li a:hover {
  border-bottom: 1px solid #2CAEB8;
  padding: 0 25px 10px 25px !important;
}

.navbar-nav {
  background-color: #ffffff;
}

.bg-img {
  background: url('../images/localized-bg.png') no-repeat;
  background-size: cover;
  height: 100vh;
}

.bg-overlay {
  background-color: rgba(51, 51, 51, .5);
  height: 100%;
}

.bg-text {
  height: 100%;
  margin: auto;
  padding: 150px 0;
  color: #ffffff;
}

.bg-text h1 {
  font-size: 56px;
  line-height: 75px;
  letter-spacing: 0.05em;
}

/* Styling the about us section */
.about {
  margin: 150px auto 100px auto;
}

.inner-about {
  padding-right: 20px;
  margin: auto;
}

.inner-about-txt {
  padding: 15px 0 10px 120px;
  width: 100%;
}

.inner-about-txt h2 {
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  color: #364B4D;
  padding-bottom: 30px;
}

.inner-about-txt p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.15em;
  color: #666666;
}

/* Section: Services */
#services {
  background-color: #F2FEFF;
}

.services {
  padding: 150px 0 100px 0;
}

.services .text-center h2{
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  color: #364B4D;
  padding: 10px 10px 60px 40px;
}

.services img{
  margin:10px;
  width: 100%;
}

.service-item h3 {
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0.1em;
  color: #364B4D;
  padding: 30px 10px;
}

.service-item p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #666666;
  margin: 10px;
}

/* Section: Portfolio */
.portfolio {
  margin: 150px auto;
}

.portfolio h2 {
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  color: #364B4D;
}

.portfolio1 {
  margin: auto;
  padding-left: 150px;
}

.portfolio2 {
  margin: auto;
}

.portfolio1 img{
  margin: 10px 10px 30px 10px;
  width: 100%;
}

.portfolio2 img{
  margin: 10px 10px 10px 10px;
  width: 100%;
}

/* Section: Testimonial */
#testimonial {
  width: 100%;
  margin: 10px auto 130px auto;
}

.testimonial1 {
  width: 100%;
  margin: auto;
  padding-left: 100px;
}

.testimonial1 p {
  font-size: 18px;
  line-height: 30px !important;
  letter-spacing: 0.2em;
  color: #333333;
  font-weight: 400;
}

#testimonial .img img{
  width: 100%;
}

.inner-testimonial {
  display: flex;
  padding: 10px;
}

.carousel {
  padding: 20px 0 0 40px;
}

.carousel h5, .carousel p {
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  font-family: 'Playfair Display', serif;
  font-weight: 100;
}

/* Section: Contact Us */
.contact-bg1 {
  position: relative;
  background-color: #F2FEFF;
  height: 100vh;
}

.contact-bg2 {
  background: url('../images/localized-contact.png') no-repeat center center/cover;
  position: relative;
  height: 100vh;
}

.overlay-contact {
  background-color: rgba(54, 75, 77, .7);
  height: 100%;
}

.contact-inner-div {
  display: flex;
  margin-left: 100px;
}

#contact .inner-form {
  padding: 100px 50px 50px 100px;
}

.inner-form h3 {
  font-size: 40px;
  line-height: 53px;
  letter-spacing: 0.05em;
  color: #364B4D;
}

label {
  display: block;
  padding-top: 20px;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.2em;
  color: #364B4D;
}

::placeholder {
  color: #808080;
  line-height: 21px;
  letter-spacing: 0.2em;
  font-weight: 300;
}

.card {
  width: 60%;
  margin: auto;
  padding: 50px 0 50px 140px;
  bottom: 280px;
  box-shadow: 2px 2px 5px #e1e1e1;
}

.card1 {
  display: none;
}

.card form input, .card form textarea {
  width: 80%;
  margin: auto;
  padding: 15px ;
}

form .btn {
  width: 30% !important;
  margin-right: 20% !important;
  margin-top: 20px !important;
}

/* Footer */
.footer {
  background-color: #364B4D;
  color: #fff;
  padding: 5px;
  height: 100px;
}

.footer p {
  margin: 10px auto;
  line-height: 21px;
  letter-spacing: 0.1em;
}

.footer .container {
  margin: 20px auto;
  
}

.fa1 {
  display: none;
}

.fa {
  background: #ffffff;
  border-radius: 50%;
  padding: 10px;
  margin: 10px;
  color: #364B4D;
}

.fa:hover {
  text-decoration: none;
  color: #fff;
  background-color: #738283;
}

@media (min-width: 768px) and (max-width: 1200px) {
  

  /* Styling the about us section */
.about {
  margin: 100px auto 80px auto;
}

.inner-about {
 margin: auto;
}

.inner-about img {
  width: 100%;
}

.inner-about-txt {
  padding-left: 40px;
  width: 100%;
}

.inner-about-txt h2 {
  font-size: 35px;
  line-height: 43px;
}

.inner-about-txt p {
  font-size: 14px;
  line-height: 18px;
}

/* Section: Portfolio */
.portfolio {
  margin: 100px auto;
}

.portfolio h2 {
  font-size: 25px;
  line-height: 33px;
  padding-bottom: 0 !important;
}

.portfolio1 {
  margin: auto;
  padding-left: 50px;
}

.portfolio2 {
  margin: auto;
}

.portfolio1 img{
  margin: 10px 10px 10px 10px;
  width: 100%;
}

.portfolio2 img{
  margin: 10px 10px 10px 10px;
  width: 100%;
}

/* footer */
.footer .container {
  margin: 0px auto;
  
}

.btn {
  background-color: #2CAEB8;
  font-size: 18px;
  line-height: 23px;
  display: inline-block;
  width: fit-content;
  padding: 15px 45px;
  color: #ffffff;
  font-weight: bold;
  margin-top: 25px;
}
}

@media (min-width: 501px) and (max-width: 767px) {
  
  /* Section1 */
.bg-text {
  height: 100%;
  margin: auto;
  /* padding: 150px 0; */
  text-align: center;
  color: #ffffff;
}

.bg-text h1 {
  font-size: 50px;
  line-height: 50px;
  letter-spacing: 0.05em;
}
  /* Section: About */
  .about {
    margin: 80px auto 80px auto;
  }

  .inner-about {
      display: block;
  }

  .inner-about img{
    margin: auto;
    width: 100%;
    align-items: center !important;
    padding-bottom: 20px;
}

.inner-about-txt {
    padding: 15px 0 10px 10px;
  }

.inner-about-txt h2 {
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    text-align: center;
    margin: auto;
  }
  
  .inner-about-txt p {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    margin: auto;
  }

  /* Section: Services */
  .services {
    padding: 80px 0 60px 0;
  }

  .services .text-center h2{
    font-size: 25px;
    line-height: 26px;
    letter-spacing: 0.05em;
    color: #364B4D;
    padding: 10px 10px 30px 40px;
  }

  .services img{
    margin:6px;
  }

  .service-item h3 {
    font-size: 20px;
    line-height: 24px;
    padding: 20px 10px;
  }

  .service-item p {
    font-size: 14px;
    line-height: 18px;
    margin: 5px 5px 10px 10px;
  }

  /* Section: Portfolio */
.portfolio {
    margin: 70px auto;
    display: block;
  }

  .portfolio h2 {
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #364B4D;
    text-align: center;
    padding-bottom: 10px;
  }

  .portfolio1, .portfolio2 {
    margin: auto;
    padding-left: 0px;
  }

  .portfolio1 .btn {
      display: none;
  }

  .portfolio2 img{
    margin: 10px 10px 30px 10px;
    width: 100%;
  }

  /* Section: Testimonial */
#testimonial {
    width: 100%;
    margin: 10px auto 130px auto;
  }

  .testimonial1 {
    width: 100%;
    margin: auto;
    align-items: center;
    padding-left: 40px;
  }

  .testimonial1 p {
    font-size: 16px;
    line-height: 25px !important;
    
  }

  #testimonial .img img{
    display: none;
  }

  /* Contact */

  .contact-bg1 {
    height: fit-content;
  }
  
  .contact-bg2 {
    display: none;
  }

  .card1 {
      display: block;
      background: none;
      border: none;
  }

  .contact-inner-div {
    display: flex;
    margin-left: 0px;
  }

  .inner-form h3 {
    font-size: 20px;
    line-height: 33px;
 }

 .card {
    width: 100%;
    margin: auto;
    padding: 50px 0 50px 0px;
    bottom: 0px;
    background: none;
    box-shadow: none;
  }

  .card form input, .card form textarea {
    width: 100%;
    margin: auto;
    padding: 15px ;
  }

  label {
    font-size: 14px;
    line-height: 18px;
 }
  
  ::placeholder {
    color: #808080;
    font-size: 14px;
    line-height: 18px;
  }

  form .btn {
    width: 50% !important;
    margin-right: 3% !important;
    margin-top: 20px !important;
  }

  /* footer */
  .footer {
      display: block;
    background-color: #364B4D;
    color: #fff;
    padding: 5px;
    height: fit-content;
  }

  .fa1 {
      display: block;
      margin: auto;
      align-items: center;
  } 

  .fa2 {
      display: none;
  }
}